body {
 background-color: #345674;
}
.container {
 max-width: 400px;
}

input[type="text"],input[type="text"]:focus {
 color: white;
 border: none;
 background: rgba(0,0,0,0.2);
 max-width: 400px;
}

.todos li {
 background: #345674;
 color: white;
}

.delete {
 cursor: pointer;
 color: white;
}



